@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--text-color);
    overflow-x: hidden;
}