:root{
        /*  CORES   */
    --first-color:  #FAFBFD;
    --second-color: #131313;
    --third-color: #ffe107;
    --text-color: #000;
    --title-color: #fff;

        /*  FONTES  */
    --primary-font: "Boldonse", system-ui;
    --secondary-font: "DM-mono", monospace;
}