.projects{
    display: flex;
    justify-content: center;
    margin: 3.125rem;
    border-radius: 50px;
}

/* === TEXTOS === */
.projects_title{
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 2.6rem;
    color: var(--text-color);
    
}

/* === PROJETOS === */
.projects_container_portfolio{
    background-color: var(--third-color);
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}